<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="container-fluid">
    <form action="/api/users/login" method="POST" novalidate>

      <div class="form-group mx-auto w-50">
        <label for="email" class="form-label">Email:</label>
        <input type="text" class="form-control" name="email" required>
      </div>

      <div class="form-group mx-auto w-50">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" name="password" required>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary mx-auto w-50">Login</button>
      </div>
    </form>
    <div class="text-center">
      <a href="/api/users/register" class="btn btn-success w-25">Signup</a>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>